.product-card {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px black;
}

.product-card > h3 {
    margin: 5px 0px;
}

.product-card > p {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}